*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F0F4F3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

a{
    text-decoration: none;
}

.conteiner{
    width: 75%;
    height: 85%;
    background-color: #fff;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
}

.conteiner .left-side{
    background-color: #3BB397;
    letter-spacing: 1px;
    flex-basis: 40%;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner .left-side .left-side-content{
    flex-basis: 70%;
    height: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-side-content h2{
    font-size: 2em;
}

.left-side-content p{
    font-size: .9em;
    line-height: 1.5em;  
}

.left-side-content .left-side-button{
   width: 50%;
   font-size: .9em;
   border-radius: 30px;
   border: 1px solid #fff;
   color: #fff;
   background-color: #3BB397;
   margin: 0 auto;
   padding: 8px 0;
   cursor: pointer;
   transition: background-color 300ms,color 300ms,border-color 300ms;
   letter-spacing: 1px;
}

.left-side-content .left-side-button:hover{
    background-color: #fff;
    color: #3BB397;
    border-color: #3BB397;    
}

.right-side{
    flex-basis: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side .right-side-content{
    width: 90%;
    height: 70%;
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-side-content h1{
    color: #3BB397;
}

.right-side-content .links{
    width: 25%;
    display: flex;
    justify-content: space-between;   
}

.right-side-content .links a{
    color: #000;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #a2a2a2;
    border-radius: 50%;
    transition: background-color 300ms, color 300ms, border-color 300ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover{
    background-color: #3BB397;
    color: #fff;
    border-color: #3BB397;
}

.right-side-content p{
    color: #a2a2a2;
    font-size: 0.9em;
}

.right-side-content form{
    flex-basis: 60%;
    width: 70%;
        
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-right-side input{
    width: 250px;
    padding: 13px 0;
    padding-left: 25px;
    border: 0;
    background-color: #F4F8F7;    
}

.form-right-side input::placeholder{
    color: #a2a2a2;
}

.form-right-side .form-group{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group i{
    position: absolute;
    left: 3px;
    font-size: 13px;
    color: #a2a2a2;
    padding-left: 2px;
}

.btn-right-side{
    padding: 8px 40px;
    border-radius: 30px;
    border: none;
    background-color: #3BB397;
    color: #fff;
    font-size: 1.02em;
    cursor: pointer;
    transition: opacity 600ms;
}

.btn-right-side:hover{
    opacity: 0.7;    
}